/* app css stylesheet */

h1 { 
    text-align: center;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    text-align: center;
    margin-top: 0px;
    font-size: 1.5em;
    font-weight: bold;
}

.pager {
  margin-right: 30px;
  margin-left: 30px;
}

.pager a {
    color: lightskyblue;
}

.pager a:hover {
    color: #2196f3;
}

#2196f3

.navbar-collapse.in {
overflow: hidden;
}

.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}


body { 
    padding-top: 70px;
    padding-right: 20px;
    padding-bottom: 70px;
    padding-left: 20px;   
}
